body {
    background-color: blue;
    background-image: url(../image/gantas-vaiciulenas-eKl9UpmNAzY-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}